*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}